*{
    margin: 0;
    padding: 0;
}
.right{
    float:right;
}
.left{
    float:left;
}
#photo{
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
#app{
    width: 25px;
    height: auto;
}
li{
    list-style: none;
    display:inline-block; 
    margin:auto 20px auto auto;
}
#centre_container{
    position: absolute;
    top: 30%;
    left: 33%; 
}
#form{
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
}
#form p{
    float: clear;
    position: relative;
    bottom: 0;
    text-align: center;
}
#below_container{
    position: absolute;
    top: 104%;
    left: 33%; 
}
.text{
    position: relative;
    padding: 2px 2px; 
    margin: auto;
    width:80%;
}
button{
    margin: 10px;
    padding: 2px 2px;
}

#footer_container{   
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: dimgray;
    border-top-width: 1px;
    border-top-color: black;
}
a{
    margin-left:5px;
    margin-right:5px;
}